<nav class="nav navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">recreo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="menu-icon"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/playgrounds">Playgrounds</a>
        <a class="nav-link" href="/playgrounds/new">New Playground</a>
      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentUser) { %>
          <a class="nav-link" href="/register">Register</a>
          <a class="nav-link" href="/login">Log In</a>
        <% } else { %>
          <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>