/*******************************************
 COLORS
*******************************************/
:root {
  --white: #ffffff;
  --yellow: #F2CC8F;
  --yellow__light: #F4F1DE;
  --orange: #E07A5F;
  --orange__light: #E07A5F60;
  --blue__medium: #595d8590;
  --blue__dark: #3D405B;

  --red: #e0685f;
  --red__light: #e0685f50;

  --green: #81B29A;
  --green__light: #81B29A50;

  --shadow__sm: #3D405B20;
  --shadow__lg: #3D405B40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
