/*******************************************
 COLORS
*******************************************/
:root {
  --white: #ffffff;
  --yellow: #F2CC8F;
  --yellow__light: #F4F1DE;

  --orange: #E07A5F;
  --orange__light: #fd9b80;

  --blue__medium: #595d85;
  --blue__dark: #3D405B;
  --blue__overlay: #3D405B90;

  --red: #e0685f;
  --red__light: #e0685f50;

  --green: #81B29A;
  --green__light: #81B29A50;

  --shadow__sm: #3D405B25;
  --shadow__lg: #3D405B50;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
