/*******************************************
 COLORS
*******************************************/
:root {
  --white: #ffffff;
  --white__off: #f8f8f8;
  --yellow: #f2cc8f;
  --yellow__light: #fbeeda;

  --orange_50: #fce9e4;
  --orange_100: #f8d3c9;
  --orange_200: #f4bdae;
  --orange_300: #eea794;
  --orange_400: #e7917a;
  --orange_500: #e07a5f;
  --orange_600: #af5e49;
  --orange_700: #814434;
  --orange_800: #562b20;
  --orange_900: #2e140e;
  --orange__opaque: #fd9b8040;

  --blue_50: #e1e2ea;
  --blue_100: #c4c6d6;
  --blue_200: #a8abc1;
  --blue_300: #8d90ad;
  --blue_400: #727699;
  --blue_500: #595d85;
  --blue_600: #444767;
  --blue_700: #30324b;
  --blue_800: #1d1f30;
  --blue_900: #0c0d17;
  --blue__overlay: #3d405b90;
  --blue__opaque: #3d405b50;

  --red: #e0685f;
  --red__light: #e98e88;

  --green: #81b29a;
  --green__light: #c8f8e1;

  --danger: #b12c1c;
  --danger__light: #ffe4e4;

  --success: #4b7053;
  --success__light: #d7e7df;

  --shadow__sm: #3d405b25;
  --shadow__lg: #3d405b50;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  color: var(--blue_700);
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  line-height: 1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
