<% layout('layouts/boilerplate') %>

<h1>All Playgrounds</h1>
<ul>
  <% for (let playground of playgrounds) { %>
  <li>
    <a href="/playgrounds/<%= playground._id %>"><%= playground.title %></a>
  </li>
  <% } %>
</ul>
