<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Playground</title>
</head>
<body>
  <form action="/playgrounds" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="playground[title]">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="playground[location]">
    </div>
    <button>Add Playground</button>
  </form>
  <footer>
    <a href="/playgrounds">All Playgrounds</a>
  </footer>
</body>
</html>