<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Playground Show</title>
</head>
<body>
  <h1><%= playground.title %></h1>
  <h2><%= playground.location %></h2>
  <form action="/playgrounds/<%= playground._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
  <footer>
    <a href="/playgrounds">All Playgrounds</a>
    <a href="/playgrounds/<%= playground._id %>/edit">Edit Playground</a>
  </footer>
</body>
</html>