<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Recreo</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans:wght@300;600&display=swap">

    <!-- STYLESHEETS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
      integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css">

  </head>
  <body>
    <div class="bg-img"></div>
    <div class="bg-wave">
      <img src="/assets/wave.svg" alt="Wave" />
    </div>
    <div class="cover-container d-flex flex-column">
      <nav class="nav d-flex">
        <h3 class="nav-logo float-md-left mb-0">recreo</h3>
        <div class="nav-links d-flex">
          <a href="/" aria-current="page" class="nav-link active">Home</a>
          <a href="/playgrounds" class="nav-link">Playgrounds</a>
          <% if(!currentUser) { %>
            <a class="nav-link" href="/register">Register</a>
            <a class="nav-link" href="/login">Log In</a>
          <% } else { %>
            <a class="nav-link" href="/logout">Log Out</a>
          <% } %>
        </div>
      </nav>

      <main class="d-flex flex-column">
        <p class="lead">We'll help you find your next favorite <span class="lead-line">place to play</span>!</p>
        <h1 class="home-logo">recreo</h1>
        <a href="/playgrounds" class="d-flex btn btn-lg btn-secondary font-weight-bold">Let's Go</a>
      </main>

      <footer class="footer mt-auto">
        <p>&copy; <%= new Date().getFullYear() %> Nadine Juraschek</p>
      </footer>
    </div>

    <!-- JAVASCRIPT -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js"
      integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
