/**
#F4F1DE
#E07A5F
#3D405B
#81B29A
#F2CC8F
**/

body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  color: #3D405B;
}

.bg-img-desktop,
  .bg-wave-desktop {
    display: none;
  }

.bg-img-mobile img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .bg-img-desktop,
  .bg-wave-desktop {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;

    height: 100vh;
  }

  .bg-img-desktop {
    right: 0;

    background-image: linear-gradient(#ffffff40, #ffffff40), url('https://images.unsplash.com/photo-1552537595-b30edb7afd9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
    background-position: center 35%;

    width: 60vw;
    z-index: -2;
  }

  .bg-wave-desktop {
    left: 38vw;
    z-index: -1;
  }

  .bg-wave-desktop img {
    object-fit: cover;
    height: 100%;
  }
}

.cover-container {
  padding: 0 24px;

  height: 100vh;
  width: 100vw;

  justify-content: center;
}

.nav {
  height: 80px;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.home-logo {
  font-family: 'Carter One', 'Helvetica', sans-serif;
}

.nav-menu {

}

@media only screen and (min-width: 900px) {
  .nav-menu {
    display: none;
  }
}

.nav-links {
  display: none;
}

@media only screen and (min-width: 900px) {
  .nav-links {
    display: flex;
  }
}

.nav-links:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  border-bottom: 0.25rem solid transparent;
  color: #ffffff;
  font-weight: 600;
}

.nav-link:hover {
  color: #F2CC8F;
  border-bottom-color: #F2CC8F;
}

.nav-link.active {
  color: #F2CC8F;
  border-bottom-color: #F2CC8F;
}

main {
  height: calc(100vh - 130px);
  padding: 24px 0;

  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: center;
  }
}

@media only screen and (min-width: 900px) {
  main {
    padding: 60px;

    justify-content: center;
  }
}

.home-logo {
  visibility: hidden;
  height: 0;
  width: 0;
}

.lead {
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;

  width: 100%;
}

@media only screen and (min-width: 768px) {
  .lead {
    font-size: 3rem;
    width: 50%;
  }
}

@media only screen and (min-width: 900px) {
  .lead {
    font-size: 3.25rem;
    width: 40%;
  }
}

.lead-line {
  display: block;
}

@media only screen and (min-width: 900px) {
  .lead-line::after {
    position: absolute;
    left: 0;
    bottom: 15px;

    background-color: #F2CC8F;
    border-radius: 5px;
    content: '';
    height: 15px;
    width: 317px;
    z-index: -1;
  }
}

.btn-secondary {
  background-color: #E07A5F;
  border: none;
  text-shadow: none;

  align-items: center;
  justify-content: center;

  height: 60px;
  width: 47%;
}

.btn-secondary:hover {
  background-color: #e7886d;
  color: #ffffff;
  text-shadow: none;
}

.footer {
  height: 50px;
}

@media only screen and (min-width: 900px) {
  .footer, .footer a {
    font-size: 1rem;
  }
}

.footer a {
  color: #3D405B;
  text-decoration: none;
}

.footer a:hover {
  color: #e7886d;
  cursor: pointer;
}
