/**
#F4F1DE
#E07A5F
#3D405B
#81B29A
#F2CC8F
**/

body {
  color: #3D405B;
}

.bg-img,
.bg-wave {
  position: absolute;
  top: 0;
  bottom: 0;

  height: 100vh;
}

.bg-img {
  right: 0;

  background-image: linear-gradient(#ffffff40, #ffffff40), url('https://images.unsplash.com/photo-1552537595-b30edb7afd9d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80');
  width: 60vw;
  z-index: -2;
}

.bg-wave {
  left: 38vw;
  z-index: -1;
}

.bg-wave img {
  object-fit: cover;
  height: 100%;
}

.cover-container {
  padding: 0 24px;

  height: 100vh;
  width: 100vw;

  justify-content: center;
}

.nav {
  height: 80px;
  width: 100%;

  align-items: center;
  justify-content: space-between;
}

.nav-logo,
.home-logo {
  font-family: 'Carter One', 'Arial', sans-serif;
}

.nav-links:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  border-bottom: 0.25rem solid transparent;
  color: #ffffff;
  font-weight: 700;
}

.nav-link:hover {
  color: #F2CC8F;
  border-bottom-color: #F2CC8F;
}

.nav-link.active {
  color: #F2CC8F;
  border-bottom-color: #F2CC8F;
}

main {
  height: calc(100vh - 130px);

  justify-content: center;
}

main > *:not(:last-child) {
  margin-bottom: 3rem;
}

.btn-secondary {
  background-color: #E07A5F;
  border: none;
  text-shadow: none;

  align-items: center;
  justify-content: center;

  height: 60px;
  width: 50%;
}

.btn-secondary:hover {
  background-color: #e7886d;
  color: #ffffff;
  text-shadow: none;
}

.footer {
  height: 50px;
}
