<% layout('layouts/boilerplate') %>

<div class="auth-wrapper">
  <h5 class="auth-title">Log In</h5>
  <form action="/login" method="POST" class="validatedForm" novalidate>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        name="username"
        required
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        required
      />
    </div>
    <div class="auth-btn">
      <button class="btn btn-success btn-block">Log In</button>
    </div>
  </form>
</div>
